@model IEnumerable<LibraryProjectSep2019.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacementPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BooksCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplacementPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IsbnNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IsbnNumber">Details</a> |
                <a asp-action="bookIssue" asp-route-id="@item.IsbnNumber">bookIssue</a> |
                <a asp-action="bookReturn" asp-route-id="@item.IsbnNumber">bookReturn</a> |
                <a asp-action="transactions" asp-route-id="@item.IsbnNumber">transactions</a>
            </td>
        </tr>
}
    </tbody>
</table>
