@model IEnumerable<LibraryProjectSep2019.Transaction>

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionCustomer)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionBook.IsbnNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionCustomer.Email)
            </td>
            
        </tr>
}
    </tbody>
</table>
